{% extends "layout.html" %}

{% block body %}

<div style = "margin-top : 300px; margin-bottom : 250px;"
     class="header-content-wrap">
  <div class="container">
  {% if request.user.is_authenticated %}

  <div class="container">
    <div class="text-center mt-5">
      <h1 class="Montserrat">UAV Rental</h1>
    </div>
  </div>

  {% else %}
  <div class="container">
    <div class="text-center mt-5">
      <h1 class="Montserrat">Welcome to UAV Rental</h1>
    </div>
  </div>
  {% endif %}
  
    
  </div>
</div>




{% endblock body %}
