{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<div class="row">
  <div style ="margin-bottom : -20px;" class="col-md-6 offset-md-3">
      <h3>Sign in</h3>
      <hr>
      <form method = "post">
          {% csrf_token %}
          {{form|crispy}}
          <br>
	  <div class="form-group">
	    <button type = "submit" class = "btn btn-danger">Login</button>
	    <small class="text-muted ml-2">
	     <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>
	    </small> 
	  </div>
      </form>
  
  </div>
</div>




{% endblock body%}
