{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<div class="container">
<div class="row">
  <div style = "margin-top : -100px; margin-bottom : -480px;" class="col-md-6 offset-md-4">
      <h3>Create a new account</h3>
      <hr>
      <form method = "post">
          {% csrf_token %}
          {{form|crispy}}
	  {{profile_form|crispy}}
          <br>
          <button type = "submit" class = "btn btn-success">Sign Up</button>
      </form>  
  </div>
</div>
</div>
{% endblock body %}
